.App {
  margin: 5%;
  border: 2px solid #2ca25f;
  padding: 5%;
  border-radius: 15px;
}

.App-header {
  margin: 5%;
  border-bottom: 1px solid #2ca25f;
}

.data-exterior {
  padding: 1%;
  background-color: #99d8c9;
  border-radius: 15px;
}

.data-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: 2.5%;
  padding: 2.5%;
  border-radius: 15px;
  box-shadow: 2px 2px lightgray;
}

.data-row {
  padding: 2%;
  margin: 0;
  width: 100%;
}